<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{title}}</title>
</head>
<body>
<div id="main">{{{reactHtml}}}</div>
<!--<script src="/webjars/jquery/3.1.0/dist/jquery.min.js"></script>-->
<!--<script src="/webjars/react/15.2.1/react.min.js"></script>-->
<!--<script src="/webjars/react/15.2.1/react-dom.min.js"></script>-->
<!--<script src="/Comment.js"></script>-->
<!--<script src="/CommentList.js"></script>-->
<!--<script src="/app.js"></script>-->
</body>
</html>