<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{title}}</title>
</head>
<body>
<ul>
    {{#each comments}}
        <li>
            <h5>{{author}}</h5>
            <p>{{content}}</p>
        </li>
    {{/each}}
</ul>
</body>
</html>