<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>${title}</title>
</head>
<body>
<ul>
    #foreach($it in $comments)
        <li>
            <h5>${it.author}</h5>
            <p>${it.content}</p>
        </li>
    #end
</ul>
</body>
</html>